/* ===== mobile: Screen Width < 1440px ===== */
@media screen and (max-width: 1439px) {
  .header,
  .main,
  .footer {
    width: var(--full-width);
    // overflow-x: hidden;
    margin: 0 auto;
  }

  .main {
    background: var(--white);
    .harnessIntro,
    .harnessIntroCD,
    .harnessIntroPlatform,
    .harnessIntroFF,
    .harnessIntroCloudCost,
    .harnessIntroChIntel {
      padding: 80px 0 0 0;
      // background: url(/harness-intro-mobile.svg) bottom no-repeat;
      // min-height: 1100px;
      .introTextContainer {
        // width: 530px;
        padding: 0 24px;
        .introText {
          font-size: 48px;
          line-height: 56px;
          font-weight: 700;
        }
        .introSubText {
          font-family: 'Reenie Beanie';
          color: var(--primary-6);
          font-size: 32px;
          line-height: 48px;
          font-weight: 500;
          margin-top: 24px;
          margin-bottom: 24px;
          // width: 450px;
        }
        .introDesc {
          margin-bottom: 32px;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          /* Gray Scale / Gray Scale 800 */
          color: var(--gray-800);
        }
        .btnSignUp {
          height: 56px;
          width: 100%;
          padding-left: 56px;
          padding-right: 56px;
          border-radius: 4px;
          border: 1px solid var(--primary-7);
          background-color: var(--primary-7);
          color: var(--white);
          box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
          font-weight: 800;
          font-size: 18px;
          line-height: 24px;
        }
        .gitStar {
          margin: 24px 0 16px 56px;
          text-align: center;
        }
      }
      .introIllustration {
        // workaround to fix the dark borders of the gif on top and bottom
        overflow: hidden;
        // height: 598px;
        position: relative;
        text-align: center;
        padding-bottom: 24px;
        img,
        video {
          // workaround to fix the dark borders of the gif on top and bottom
          width: 95%;
          height: auto;
        }
        .linkCI,
        .linkCD,
        .linkFeatureFlags,
        .linkCloudCost,
        .linkChIntel {
          position: absolute;
          left: 48px;
          top: 36px;
          width: 135px;
          height: 105px;
          cursor: pointer;
          border-radius: 10px;
          &:hover,
          &:active {
            background-color: rgb(2 120 231 / 10%);
            box-shadow: 0 0 15px 15px rgb(2 120 231 / 10%);
          }
        }
        .linkCI {
          left: 48px;
          top: 36px;
        }
        .linkCD {
          left: 220px;
          top: 70px;
        }
        .linkFeatureFlags {
          left: 18px;
          top: 211px;
        }
        .linkCloudCost {
          left: 215px;
          top: 250px;
        }
        .linkChIntel {
          left: 40px;
          top: 420px;
        }
      }
      // &:hover {
      //   background-image: url(/harness-intro-mobile-hover.gif);
      // }
    }

    .btnLight {
      background: transparent;
      width: 300px;
      height: 56px;
      border-radius: 4px;
      border: 1px solid var(--white);
      color: var(--white);
      font-weight: 800;
      font-size: 18px;
      line-height: 24px;
    }
    .bgDot,
    .bgDotBlue {
      $bg-color: var(--header-bg);
      $dot-color: #5c5c5c;
      $dot-size: 1px;
      $dot-space: 10px;

      background: linear-gradient(
            90deg,
            $bg-color ($dot-space - $dot-size),
            transparent 1%
          )
          center,
        linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%)
          center,
        $dot-color;
      background-size: $dot-space $dot-space;
      box-shadow: inset 0px 6px 25px rgba(0, 0, 0, 0.04);
    }
    .bgDotBlue {
      $bg-color: var(--primary-9);
      $dot-color: #5c5c5c;
      $dot-size: 1px;
      $dot-space: 10px;

      background: linear-gradient(
            90deg,
            $bg-color ($dot-space - $dot-size),
            transparent 1%
          )
          center,
        linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%)
          center,
        $dot-color;
      background-size: $dot-space $dot-space;
      box-shadow: inset 0px 6px 25px rgba(0, 0, 0, 0.04);
    }
    .platformModules {
    }
    .customers {
      padding: 48px 24px;
      .btnContainer {
        text-align: center;
        margin-top: 32px;
        img {
          margin-right: 12px;
        }
      }
    }
    .caseStudy {
      min-height: 480px;
      padding: 64px 24px 24px 24px;
      text-align: center;
      color: var(--white);
      position: relative;
      .customersSay {
        // width: 870px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        /* Gray Scale / Gray Scale 0 */
        color: var(--white);
      }
      .customerName {
        // width: 870px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
        margin-bottom: 52px;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        /* identical to box height, or 133% */
        /* Gray Scale / Gray Scale 200 */
        color: #d9dae6;
        text-align: center;
      }
      .quote {
        // font-size: 48px;
        img {
          width: 36px;
          height: auto;
        }
      }
      .profileLeft,
      .profileLeftBeforeLoaded {
        position: absolute;
        top: -36px;
        left: 24px;
        transition: 1s ease;
        width: 138px;
        height: auto;
      }
      .profileLeftBeforeLoaded {
        // top: -200px;
        transform: translateY(-150px);
      }
      .profileRight,
      .profileRightBeforeLoaded {
        position: absolute;
        top: -36px;
        right: 24px;
        transition: 1s ease;
        width: 138px;
        height: auto;
      }
      .profileRightBeforeLoaded {
        // top: -200px;
        transform: translateY(-150px);
      }
    }
    .beforeLoaded {
      transform: translateY(-150px);
    }
    .explore {
      height: 70px;
      text-align: left;
      padding: 36px 0px 0px 16px;
    }
    .ciContainer,
    .cdContainer,
    .platformContainer,
    .ffContainer,
    .cloudCostContainer,
    .chIntelContainer {
      position: relative;
      .motionPathContent {
        // position: absolute;
        // top: 117px;
        // right: 0;
        // width: 100%;
        display: none;
      }
      .productFeatures {
        ul {
          margin: 0;
          padding: 0;
          li {
            margin: 0;
            padding: 0;
            list-style: none;
            .subIcon {
              background-color: var(--ci-theme-bg);
            }
          }
        }
      }
      .sectionIntegrations {
        background-color: var(--ci-theme-bg);
      }
      .sectionWLeft,
      .sectionWRight,
      .sectionExploreWRight {
        .btnContainer {
          // margin-top: 32px;
          padding: 24px 24px 36px 24px;
          :global {
            .ant-btn {
              // margin-right: 24px;
              height: 56px;
              width: 100%;
              border: 1px solid var(--primary-7);
              font-weight: 800;
              font-size: 18px;
              line-height: 24px;
              color: var(--primary-7);
            }
          }
        }
        img {
          z-index: 2;
          transition: 1s ease;
          // position: absolute;
          width: 100%;
          height: auto;
        }
      }
      .sectionWLeft {
        min-height: 380px;
        // display: grid;
        // grid-template-columns: 633px 1fr;
        .left {
          padding: 48px 16px 24px 16px;
          // display: flex;
          // flex-direction: column;
          // align-items: flex-start;
          // justify-content: center;

          .desc {
            margin-top: 24px;
            font-weight: 400; // 600;
            font-size: 16px; // 18px;
            line-height: 24px;
          }
          .btnContainer {
            display: none;
          }
        }
        .right {
          // padding-top: 61px;
          // display: flex;
          // align-items: center;
          // justify-content: flex-end;
          .btnContainer {
            button {
              width: 100%;
            }
          }
        }
      }
      .sectionWRight,
      .sectionExploreWRight {
        min-height: 300px;
        // display: grid;
        // grid-template-columns: 658px 1fr;
        display: flex;
        flex-flow: column-reverse nowrap;
        .right {
          // padding-left: 110px;
          // display: flex;
          // flex-direction: column;
          // align-items: flex-start;
          // justify-content: center;
          // width: 522px;
          padding: 48px 16px 24px 16px;
          .desc {
            margin-top: 24px;
            font-weight: 400; // 600;
            font-size: 16px; // 18px;
            line-height: 24px;
          }
          .btnContainer {
            display: none;
          }
        }
        .left {
          // display: flex;
          // align-items: center;
          // justify-content: flex-start;
        }
      }
      .sectionExploreWRight {
        grid-template-columns: 820px 1fr;
      }
      .sectionCloudCost {
        height: 729px;
        .right {
          padding-top: 20px;
        }
      }
      .sectionChangeIntelligence {
        height: 729px;
        .right {
          padding-top: 20px;
        }
      }
      .subTitle {
        margin-top: 16px;
      }
      .bgTeal {
        background: var(--teal-50);
      }
      .bgYellow {
        background: var(--yellow-100);
      }

      .ciSectionWrapper {
        display: flex;
        flex-flow: column-reverse nowrap;
      }
      .preCI {
        // height: 300px;
        // position: relative;
        background: var(--teal-50);
        img {
          position: unset; // absolute;
          // left: 0px;
          // top: 24px;
          width: 100%;
          height: auto;
        }
        .btnContainer {
          // margin-top: 32px;
          padding: 36px 24px;
          :global {
            .ant-btn {
              // margin-right: 24px;
              height: 56px;
              width: 100%;
              border: 1px solid var(--primary-7);
              font-weight: 800;
              font-size: 18px;
              line-height: 24px;
              color: var(--primary-7);
            }
          }
        }
      }
      .cssFloatingImg {
        position: relative;
        img {
          position: absolute;
          left: 0px;
          top: 0px;
        }
      }
    }
    .cdContainer {
      .productFeatures {
        ul {
          li {
            .subIcon {
              background-color: var(--cd-theme-bg);
            }
          }
        }
      }
      .sectionIntegrations {
        background-color: var(--cd-theme-bg);
      }
    }
  }
}

/* ===== desktop: Screen Width >= 1440px ===== */
@media screen and (min-width: 1440px) {
  .subMenuMask {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
  }
  .header,
  .main,
  .footer {
    // width: 1440px;
    // overflow-x: hidden;
    margin: 0 auto;
  }

  .main {
    background: var(--white);
    overflow-x: hidden;
    .harnessIntro,
    .harnessIntroCD,
    .harnessIntroPlatform,
    .harnessIntroFF,
    .harnessIntroCloudCost,
    .harnessIntroChIntel {
      width: var(--full-width);
      margin: 0 auto;
      padding: 96px 0 62px 110px;
      // background: url(/harness-intro.svg) right bottom no-repeat;
      min-height: 480px;
      display: flex;
      flex-direction: row;
      position: relative;
      background: url(/prod-ci-illus.svg) right bottom no-repeat;
      height: 850px;
      .introTextContainer {
        width: 500px;
        flex-shrink: 0;
        z-index: 7;
        .introText {
          font-size: 56px;
          line-height: 68px;
          font-weight: 700;
        }
        .introSubText {
          font-family: 'Reenie Beanie';
          color: var(--primary-6);
          font-size: 40px;
          line-height: 48px;
          font-weight: 500;
          margin-top: 32px;
          margin-bottom: 16px;
          width: 450px;
        }
        .introDesc {
          margin-bottom: 32px;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          /* Gray Scale / Gray Scale 800 */
          color: var(--gray-800);
        }
        .btnSignUp {
          height: 56px;
          padding-left: 56px;
          padding-right: 56px;
          border-radius: 4px;
          border: 1px solid var(--primary-7);
          background-color: var(--primary-7);
          color: var(--white);
          box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
          font-weight: 800;
          font-size: 18px;
          line-height: 24px;
        }
        .gitStar {
          margin-top: 30px;
        }
      }
      .introIllustration {
        flex-grow: 1;
        flex-shrink: 1;
        text-align: center;
        // position: absolute; // relative;
        // z-index: 0;
        // right: 0;
        // img {
        //   width: 911px;
        // }
      }
    }
    .harnessIntroCD {
      background: url(/prod-cd-illus.svg) right bottom no-repeat;
    }
    .harnessIntroPlatform {
      // background: url(/product-platform-harnessbg.svg) right bottom no-repeat;
      background: none;
      height: 626px;
      min-height: 626px;
      box-sizing: border-box;
      .introTextContainer {
        width: 610px;
        .introSubText {
          width: unset;
        }
        .introDesc {
          width: 435px;
        }
      }
      .introIllustration {
        position: absolute;
        right: 0;
      }
    }
    .harnessIntroFF {
      background: url(/prod-ff-illus.svg) right bottom no-repeat;
    }
    .harnessIntroCloudCost {
      background: url(/prod-cloud-cost-illus.svg) right bottom no-repeat;
    }
    .harnessIntroChIntel {
      background: url(/prod-ch-intel-illus.svg) right bottom no-repeat;
    }

    .btnLight {
      background: transparent;
      width: 300px;
      height: 56px;
      border-radius: 4px;
      border: 1px solid var(--white);
      color: var(--white);
      font-weight: 800;
      font-size: 18px;
      line-height: 24px;
    }
    .bgDot,
    .bgDotBlue {
      $bg-color: var(--header-bg);
      $dot-color: #5c5c5c;
      $dot-size: 1px;
      $dot-space: 10px;

      background: linear-gradient(
            90deg,
            $bg-color ($dot-space - $dot-size),
            transparent 1%
          )
          center,
        linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%)
          center,
        $dot-color;
      background-size: $dot-space $dot-space;
      box-shadow: inset 0px 6px 25px rgba(0, 0, 0, 0.04);
    }
    .bgDotBlue {
      $bg-color: var(--primary-9);
      $dot-color: #5c5c5c;
      $dot-size: 1px;
      $dot-space: 10px;

      background: linear-gradient(
            90deg,
            $bg-color ($dot-space - $dot-size),
            transparent 1%
          )
          center,
        linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%)
          center,
        $dot-color;
      background-size: $dot-space $dot-space;
      box-shadow: inset 0px 6px 25px rgba(0, 0, 0, 0.04);
    }
    .platformModules {
      position: relative;
      .inner {
        width: var(--full-width);
        box-sizing: border-box;
        margin: 0 auto;
        color: var(--white);
        padding: 80px 110px;
        .harnessWatermark {
          position: absolute;
          top: -248px;
          right: 0;
        }

        .supTitle {
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          /* identical to box height */
          text-transform: capitalize;
          /* Gray Scale / Gray Scale 0 */
          color: var(--white);
          width: 522px;
        }
        .title {
          font-weight: bold;
          font-size: 36px;
          line-height: 44px;
          text-transform: capitalize;
          width: 522px;
        }
        .desc {
          font-weight: 600;
          font-size: 18px;
          line-height: 24px;
          width: 522px;
          color: var(--gary-300);
        }
        ul {
          margin: 60px 0 0 0;
          padding: 0;
          display: grid;
          grid-template-columns: repeat(auto-fill, 520px);
          grid-row-gap: 48px;
          grid-column-gap: 110px;
          li {
            margin: 0;
            padding: 0;
            list-style: none;
            a {
              color: var(--white);
            }
            .moduleContainer {
              display: grid;
              grid-template-columns: 96px 277px 140px;
              .icon {
                img {
                  width: 80px;
                  height: 80px;
                }
              }
              .text {
                .moduleTitle {
                  font-weight: 600;
                  font-size: 20px;
                  line-height: 28px;
                  /* identical to box height, or 140% */
                  margin-bottom: 16px;
                  text-transform: capitalize;
                }
                .moduleDesc {
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 19px;
                  letter-spacing: -0.01px;
                  /* Gray Scale / Gray Scale 300 */
                  color: var(--gray-300);
                }
              }
              .buttons {
                button {
                  color: var(--white);
                  border: 1px solid var(--white);
                  &:hover,
                  &:active {
                    color: var(--primary-7);
                  }
                }
              }
            }
          }
        }
      }
    }
    .anchorLinks {
      height: 86px;
      border-bottom: 1px solid var(--gray-100);
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        li {
          margin: 0 0 0 140px;
          padding: 0;
          list-style: none;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          /* Gray Scale/Black */
          color: var(--black);
          &:first-child {
            margin-left: 0;
          }
          a {
            color: var(--black);
            &:hover {
              color: var(--primary-7);
            }
          }
        }
      }
    }
    .customers {
      padding: 48px 24px;
      .consumerList {
        // width: var(--full-width);s
        margin: 0 auto;
      }
      .btnContainer {
        text-align: center;
        margin-top: 32px;
        img {
          margin-right: 12px;
        }
      }
    }
    .caseStudy {
      height: 386px;
      padding-top: 80px;
      text-align: center;
      color: var(--white);
      position: relative;
      .customersSay {
        width: 870px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        /* Gray Scale / Gray Scale 0 */
        color: var(--white);
      }
      .customerName {
        width: 870px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
        margin-bottom: 52px;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        /* identical to box height, or 133% */
        /* Gray Scale / Gray Scale 200 */
        color: #d9dae6;
        text-align: center;
      }
      .quote {
        // font-size: 48px;
      }
      .profileLeft,
      .profileLeftBeforeLoaded {
        position: absolute;
        top: -100px; // -95px; + 80
        left: 167px;
        transition: 1s ease;
      }
      .profileLeftBeforeLoaded {
        // top: -200px;
        transform: translateY(-150px);
      }
      .profileRight,
      .profileRightBeforeLoaded {
        position: absolute;
        top: -100px; // -80px; + 80
        right: 168px;
        transition: 1s ease;
      }
      .profileRightBeforeLoaded {
        // top: -200px;
        transform: translateY(-150px);
      }
    }
    .beforeLoaded {
      transform: translateY(-150px);
    }
    .explore {
      height: 130px;
      min-height: 180px;
      text-align: center;
      padding-top: 110px;
    }
    .ciContainer,
    .cdContainer,
    .platformContainer,
    .ffContainer,
    .cloudCostContainer,
    .chIntelContainer {
      .subTitle {
        margin-top: 16px;
      }
      .bgTeal {
        background: var(--teal-50);
      }
      .bgYellow {
        background: var(--yellow-100);
      }
      .cssFloatingImg {
        position: relative;
        img {
          position: absolute;
          left: 0px;
          top: 0px;
        }
      }

      .featuresTitle {
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        /* Gray Scale/Black */
        color: var(--black);
        margin: 80px 0 64px 0;
      }

      .screenshot2Col {
        // background-color: var(--ci-theme-bg);
        .inner {
          width: var(--full-width);
          margin: 0 auto;
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding: 80px 0;
          .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .title {
              width: 522px;
              font-weight: 600;
              font-size: 18px;
              line-height: 22px;
              /* identical to box height */
              text-transform: capitalize;
              align-self: flex-end;
              margin-right: 42px;
            }
            .desc {
              width: 522px;
              font-weight: 500;
              font-size: 18px;
              line-height: 24px;
              /* Gray Scale / Gray Scale 800 */
              color: var(--gray-800);
              align-self: flex-end;
              margin-right: 42px;
            }
            .screenshot {
              // display: inline-block;
              align-self: flex-start;
              margin-left: 42px;
            }
          }
          .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .title {
              width: 522px;
              font-weight: 600;
              font-size: 18px;
              line-height: 22px;
              /* identical to box height */
              text-transform: capitalize;
              align-self: flex-start;
              margin-left: 42px;
            }
            .desc {
              width: 522px;
              font-weight: 500;
              font-size: 18px;
              line-height: 24px;
              /* Gray Scale / Gray Scale 800 */
              color: var(--gray-800);
              align-self: flex-start;
              margin-left: 42px;
            }
            .screenshot {
              align-self: flex-end;
              margin-right: 42px;
            }
          }
        }
      }

      .productFeatures {
        padding: 60px 198px 80px 198px;
        width: var(--full-width);
        box-sizing: border-box;
        margin: 0 auto;
        ul {
          padding: 0;
          margin: 0;

          display: grid;
          grid-template-columns: repeat(auto-fill, 435px);
          grid-column-gap: 174px;
          grid-row-gap: 80px;
          li {
            list-style: none;
            padding: 0;
            margin: 0;
            .subIcon {
              width: 80px;
              height: 80px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: var(--ci-theme-bg);
              img,
              svg,
              path {
                color: var(--ci-theme-color);
              }
            }
            .subTitle {
              font-weight: 600;
              font-size: 18px;
              line-height: 22px;
              text-transform: capitalize;
              /* Gray Scale/Black */
              color: var(--black);
              margin: 16px 0;
            }
            .subCon {
              font-weight: 500;
              font-size: 18px;
              line-height: 24px;
              /* Gray Scale / Gray Scale 800 */
              color: var(--gray-800);
            }
          }
        }
      }

      .sectionIntegrations {
        background-color: var(--ci-theme-bg);
        .inner {
          padding: 105px 110px 140px 110px;
          width: var(--full-width);
          margin: 0 auto;
          display: grid;
          grid-template-columns: 522px 1fr;
          grid-gap: 109px;
          box-sizing: border-box;
          .text {
            .sup {
              font-weight: 600;
              font-size: 18px;
              line-height: 22px;
              /* identical to box height */
              text-transform: capitalize;
              /* Gray Scale/Black */
              color: var(--black);
              margin-bottom: 16px;
            }
            .title {
              font-weight: bold;
              font-size: 36px;
              line-height: 44px;
              text-transform: capitalize;
              /* Gray Scale/Black */
              color: var(--black);
              margin-bottom: 16px;
            }
            .desc {
              font-weight: 600;
              font-size: 18px;
              line-height: 24px;
              /* Gray Scale / Gray Scale 800 */
              color: var(--gray-800);
              margin-bottom: 16px;
            }
          }
          .logoWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .logos,
          .logosPlatform {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(auto-fill, 56px);
            grid-column-gap: 56px;
            grid-row-gap: 34px;
            grid-auto-rows: min-content;
            img {
              margin: 0;
              padding: 0;
            }
          }
          .logosPlatform {
            grid-column-gap: 24px;
            grid-row-gap: 24px;
          }
        }
      }

      .sectionOptions {
        background-color: #d3fcfe; /* var(--platform-theme-bg); */
        .inner {
          padding: 105px 110px;
          width: var(--full-width);
          margin: 0 auto;
          display: grid;
          grid-template-columns: 1fr 1fr;
          // grid-gap: 109px;
          box-sizing: border-box;
          .text {
            .sup {
              font-weight: 600;
              font-size: 18px;
              line-height: 22px;
              /* identical to box height */
              text-transform: capitalize;
              /* Gray Scale/Black */
              color: var(--black);
              margin-bottom: 16px;
            }
            .title {
              font-weight: bold;
              font-size: 36px;
              line-height: 44px;
              text-transform: capitalize;
              /* Gray Scale/Black */
              color: var(--black);
              margin-bottom: 16px;
            }
            .desc {
              font-weight: 600;
              font-size: 18px;
              line-height: 24px;
              /* Gray Scale / Gray Scale 800 */
              color: var(--gray-800);
              margin-bottom: 16px;
            }
            button {
              margin-right: 24px;
            }
          }
          .illus {
            display: flex;
            // justify-content: center;
            align-items: center;
          }
        }
      }

      .sectionPlans {
        width: var(--full-width);
        box-sizing: border-box;
        margin: 0 auto;
        padding: 118px 90px 132px 90px;
        .title {
          font-weight: bold;
          font-size: 56px;
          line-height: 68px;
          /* identical to box height */
          text-align: center;
          text-transform: capitalize;
          /* Gray Scale/Black */
          color: var(--black);
        }
        table {
          width: 100%;
          margin-top: 48px;
          border-radius: 4px;
          box-shadow: 0 -1px 4px 0 rgba(96, 97, 112, 0.16);
          // background-color: #CDD3DD;
          th,
          td {
            // background-color: var(--white);
            width: 26%;
            padding: 16px 24px;
            box-shadow: 1px 1px 4px 0 rgba(96, 97, 112, 0.08);
            text-align: center;
            font-weight: normal;
            font-size: 14px;
            line-height: 32px;
            &:first-child {
              text-align: left;
              padding-left: 32px;
              font-weight: 600;
              width: 21%;
            }
            h4 {
              font-weight: 600;
              font-size: 20px;
              line-height: 28px;
              /* identical to box height, or 140% */
              // text-align: center;
              text-transform: capitalize;
              /* Gray Scale / Gray Scale 900 */
              color: var(--gray-900);
              margin-bottom: 16px;
            }
            .soon {
              margin-top: 48px;
              color: var(--primary-7);
            }
            button {
              display: block;
              margin: 16px auto;
            }
            svg[data-icon='check-circle'] {
              color: #ff3b3b;
              width: 18px;
              height: 18px;
            }
            svg[data-icon='close-circle'] {
              color: #06c270;
              width: 18px;
              height: 18px;
            }
          }
          th {
            vertical-align: top;

            &:first-child {
              vertical-align: middle;
            }
          }
        }
      }
    }
    .cdContainer {
      .screenshot2Col:nth-child(odd) {
        background-color: var(--cd-theme-bg);
      }
      .productFeatures {
        ul {
          li {
            .subIcon {
              background-color: var(--cd-theme-bg);
            }
          }
        }
      }
      .sectionIntegrations {
        background-color: var(--cd-theme-bg);
      }
    }
    .platformContainer {
      .screenshot2Col:nth-child(odd) {
        background-color: var(--platform-theme-bg);
      }
      .sectionIntegrations {
        background-color: var(--white);
      }
    }
    .ffContainer {
      .screenshot2Col:nth-child(odd) {
        background-color: var(--feature-flags-theme-bg);
      }
      .productFeatures {
        ul {
          li {
            .subIcon {
              background-color: var(--feature-flags-theme-bg);
            }
          }
        }
      }
      .sectionIntegrations {
        background-color: var(--feature-flags-theme-bg);
      }
    }
    .cloudCostContainer {
      .screenshot2Col:nth-child(odd) {
        background-color: var(--cloud-cost-theme-bg);
      }
      .productFeatures {
        ul {
          li {
            .subIcon {
              background-color: var(--cloud-cost-theme-bg);
            }
          }
        }
      }
      .sectionIntegrations {
        background-color: var(--cloud-cost-theme-bg);
      }
    }
    .chIntelContainer {
      .screenshot2Col:nth-child(odd){
        background-color: var(--ch-intel-theme-bg);
      }
      .productFeatures {
        ul {
          li {
            .subIcon {
              background-color: var(--ch-intel-theme-bg);
            }
          }
        }
      }
      .sectionIntegrations {
        background-color: var(--ch-intel-theme-bg);
      }
    }
    .ciContainer {
      .screenshot2Col:nth-child(odd){
        background-color: var(--ci-theme-bg);
      }
    }
  }
}
