/* ===== mobile: Screen Width < 1440px ===== */
@media screen and (max-width: 1440px) {
  .header,
  .main,
  .footer {
    width: var(--full-width);
    // overflow-x: hidden;
    margin: 0 auto;
  }
  .header {
    position: relative;
    display: block;
    // overflow: auto;
    .headerNavWrapper {
      width: var(--full-width);
      position: fixed;
      background-color: var(--white);
      height: 56px;
      color: var(--white);
      display: grid;
      grid-template-columns: 1fr 172px;
      z-index: 19;
      box-shadow: 0 2px 2px 0 rgb(255 255 255 / 16%);
      .logo {
        padding: 16px 0 0 24px;
        .img {
          width: 146px;
          height: 32px;
          overflow: hidden;
          background: url(/harness-light.svg);
        }
        // svg, img {
        //     height: 32px;
        //     width: auto;
        // }
      }
      .globalNav {
        display: none; // flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 42px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        letter-spacing: 0.5px;
        text-transform: capitalize;
        color: var(--black);
        & > * {
          margin-right: 24px;
        }
        // a {
        //     color:var(--white)
        // }
      }
      .mobileMoreMenu {
        display: grid;
        grid-template-columns: 92px 1fr;
        .signUp {
          padding-top: 16px;
          button {
            height: 32px;
            width: 92px;
            font-weight: 600;
            font-size: 13px;
          }
        }
        .hamburgerMenu {
          display: flex;
          // align-items: center;
          padding-top: 16px;
          justify-content: center;
          font-size: 32px;
          color: var(--black);
          &:hover,
          &:active {
            color: var(--primary-7);
          }
        }
      }
      .dropdown,
      .dropdownSelected,
      a {
        color: var(--white);
        span[role='img'] {
          margin-left: 8px;
          font-size: 10px;
          transition: 0.3s ease;
        }
        &:hover {
          color: var(--primary-7);
        }
      }
      .dropdownSelected {
        color: var(--primary-7);
        span[role='img'] {
          transform: rotate(180deg);
          color: var(--primary-7);
        }
      }
      .icon {
        font-size: 32px;
        color: var(--white);
        // width: 32px;
        // height: 32px;
      }
    }
    .navMenu,
    .navMenuLearn,
    .navMenuCompany {
      display: none;
    }

    .mobileSubMenu,
    .mobileSubMenuOff,
    .mobileSubMenuScroll {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
      width: 100%;
      height: 100vh;
      background-color: var(--white);
      transition: 0.3s ease-in-out;
      z-index: 19;
      // .fixedTopHeaderWrapper {
      //     position: relative;
      .fixedTopHeader {
        top: 0;
        // left: 0;
        width: var(--full-width);
        z-index: 10;
        position: fixed;
        background-color: var(--white);
        padding-bottom: 12px;
      }
      .fixedBottom {
        height: 106px;
        bottom: 0;
        // left: 0;
        width: var(--full-width);
        z-index: 10;
        position: fixed;
        background: url(/mobile-menu-bg.svg) bottom left no-repeat;
        // background-size: 65%;
        transition: ease-in-out;
      }

      // }
      .logoNBtn {
        display: grid;
        grid-template-columns: 1fr 64px;
        .logo {
          padding: 16px 0 0 24px;
          svg,
          img {
            height: 32px;
            width: auto;
          }
        }
        .btnClose {
          padding: 16px 16px 8px 0;
          text-align: right;
          svg {
            width: 32px;
            height: 32px;
          }
        }
      }

      .followUsTitle {
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        /* identical to box height, or 154% */
        /* Gray Scale/Black */
        color: var(--black);
        margin: 24px 0 8px 0;
        text-align: center;
      }
      .followUsList {
        display: flex;
        margin: 0 24px;
        padding: 0;
        justify-content: space-between;
        li {
          list-style: none;
          // display: inline-block;
          svg,
          img {
            width: 40px;
            height: 40px;
          }
        }
      }
      .mobileSubMenuList {
        padding-top: 76px;
        padding-bottom: 138px;
        background-color: var(--white);
      }
      :global {
        .ant-collapse-item {
          border-bottom: 1px solid var(--gray-100);
          margin: 0 0 0 32px;
          padding: 0;
          .ant-collapse-header {
            padding: 0;
            margin: 0;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height, or 143% */
            text-transform: capitalize;
            /* Gray Scale/Black */
            color: var(--black);
            margin: 12px 0px;
            &:hover {
              color: var(--primary-6);
            }
          }
          .ant-collapse-arrow {
            padding: 0;
            svg {
              width: 13px;
              height: 13px;
              color: var(--primary-7);
            }
          }
          .ant-collapse-content {
            border-top: 1px solid var(--primary-5);
            .ant-collapse-content-box {
              padding: 0 0 0 24px;
            }
            ul {
              padding: 0;
              margin: 0;

              li {
                list-style: none;
                padding: 0;
                margin: 12px 0px;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                /* identical to box height, or 171% */
                /* Gray Scale/Black */
                color: var(--black);
                cursor: pointer;
                &:hover {
                  color: var(--primary-6);
                }
              }
            }
          }
        }
      }
    }
    .mobileSubMenuOff {
      left: 100%;
      opacity: 0;
      width: 0px;
      overflow-x: hidden;
    }
    .mobileSubMenuScroll {
      .fixedBottom {
        background: var(--primary-5);
        height: 8px;
        overflow: hidden;
      }
      .mobileSubMenuList {
        padding-bottom: 36px;
      }
    }
  }

  .main {
    background: var(--white);
    .harnessIntro {
      padding: 80px 0 0 0;
      // background: url(/harness-intro-mobile.svg) bottom no-repeat;
      // min-height: 1100px;
      .introTextContainer {
        // width: 530px;
        padding: 0 24px;
        .introText {
          font-size: 48px;
          line-height: 56px;
          font-weight: 700;
        }
        .introSubText {
          font-family: 'Reenie Beanie';
          color: var(--primary-6);
          font-size: 32px;
          line-height: 48px;
          font-weight: 500;
          margin-top: 24px;
          margin-bottom: 24px;
          // width: 450px;
        }
        .btnSignUp {
          height: 56px;
          width: 100%;
          padding-left: 56px;
          padding-right: 56px;
          border-radius: 4px;
          border: 1px solid var(--primary-7);
          background-color: var(--primary-7);
          color: var(--white);
          box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
          font-weight: 800;
          font-size: 18px;
          line-height: 24px;
        }
        .gitStar {
          margin: 24px 0 16px 56px;
          text-align: center;
        }
      }
      .introIllustration {
        // workaround to fix the dark borders of the gif on top and bottom
        overflow: hidden;
        height: 598px;
        position: relative;
        img,
        video {
          // workaround to fix the dark borders of the gif on top and bottom
          margin-top: -2px;
        }
        .linkCI,
        .linkCD,
        .linkFeatureFlags,
        .linkCloudCost,
        .linkChIntel {
          position: absolute;
          left: 48px;
          top: 36px;
          width: 135px;
          height: 105px;
          cursor: pointer;
          border-radius: 10px;
          &:hover,
          &:active {
            background-color: rgb(2 120 231 / 10%);
            box-shadow: 0 0 15px 15px rgb(2 120 231 / 10%);
          }
        }
        .linkCI {
          left: 48px;
          top: 36px;
        }
        .linkCD {
          left: 220px;
          top: 70px;
        }
        .linkFeatureFlags {
          left: 18px;
          top: 211px;
        }
        .linkCloudCost {
          left: 215px;
          top: 250px;
        }
        .linkChIntel {
          left: 40px;
          top: 420px;
        }
      }
      // &:hover {
      //   background-image: url(/harness-intro-mobile-hover.gif);
      // }
    }

    .btnLight {
      background: transparent;
      width: 300px;
      height: 56px;
      border-radius: 4px;
      border: 1px solid var(--white);
      color: var(--white);
      font-weight: 800;
      font-size: 18px;
      line-height: 24px;
    }
    .bgDot,
    .bgDotBlue {
      $bg-color: var(--header-bg);
      $dot-color: #5c5c5c;
      $dot-size: 1px;
      $dot-space: 10px;

      background: linear-gradient(
            90deg,
            $bg-color ($dot-space - $dot-size),
            transparent 1%
          )
          center,
        linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%)
          center,
        $dot-color;
      background-size: $dot-space $dot-space;
      box-shadow: inset 0px 6px 25px rgba(0, 0, 0, 0.04);
    }
    .bgDotBlue {
      $bg-color: var(--primary-9);
      $dot-color: #5c5c5c;
      $dot-size: 1px;
      $dot-space: 10px;

      background: linear-gradient(
            90deg,
            $bg-color ($dot-space - $dot-size),
            transparent 1%
          )
          center,
        linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%)
          center,
        $dot-color;
      background-size: $dot-space $dot-space;
      box-shadow: inset 0px 6px 25px rgba(0, 0, 0, 0.04);
    }
    .customers {
      padding: 48px 24px;
      .btnContaner {
        text-align: center;
        margin-top: 32px;
        img {
          margin-right: 12px;
        }
      }
    }
    .caseStudy {
      min-height: 480px;
      padding: 64px 24px 24px 24px;
      text-align: center;
      color: var(--white);
      position: relative;
      .customersSay {
        // width: 870px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        /* Gray Scale / Gray Scale 0 */
        color: var(--white);
      }
      .customerName {
        // width: 870px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
        margin-bottom: 52px;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        /* identical to box height, or 133% */
        /* Gray Scale / Gray Scale 200 */
        color: #d9dae6;
        text-align: center;
      }
      .quote {
        // font-size: 48px;
        img {
          width: 36px;
          height: auto;
        }
      }
      .profileLeft,
      .profileLeftBeforeLoaded {
        position: absolute;
        top: -36px;
        left: 24px;
        transition: 1s ease;
        width: 138px;
        height: auto;
      }
      .profileLeftBeforeLoaded {
        // top: -200px;
        transform: translateY(-150px);
      }
      .profileRight,
      .profileRightBeforeLoaded {
        position: absolute;
        top: -36px;
        right: 24px;
        transition: 1s ease;
        width: 138px;
        height: auto;
      }
      .profileRightBeforeLoaded {
        // top: -200px;
        transform: translateY(-150px);
      }
    }
    .beforeLoaded {
      transform: translateY(-150px);
    }
    .explore {
      height: 70px;
      text-align: left;
      padding: 36px 0px 0px 16px;
    }
    .motionPathContainer {
      position: relative;
      .motionPathContent {
        // position: absolute;
        // top: 117px;
        // right: 0;
        // width: 100%;
        display: none;
      }
      .sectionWLeft,
      .sectionWRight,
      .sectionExploreWRight {
        .btnContaner {
          // margin-top: 32px;
          padding: 24px 24px 36px 24px;
          :global {
            .ant-btn {
              // margin-right: 24px;
              height: 56px;
              width: 100%;
              border: 1px solid var(--primary-7);
              font-weight: 800;
              font-size: 18px;
              line-height: 24px;
              color: var(--primary-7);
            }
          }
        }
        img {
          z-index: 2;
          transition: 1s ease;
          // position: absolute;
          width: 100%;
          height: auto;
        }
      }
      .sectionWLeft {
        min-height: 380px;
        // display: grid;
        // grid-template-columns: 633px 1fr;
        .left {
          padding: 48px 16px 24px 16px;
          // display: flex;
          // flex-direction: column;
          // align-items: flex-start;
          // justify-content: center;

          .desc {
            margin-top: 24px;
            font-weight: 400; // 600;
            font-size: 16px; // 18px;
            line-height: 24px;
          }
          .btnContaner {
            display: none;
          }
        }
        .right {
          // padding-top: 61px;
          // display: flex;
          // align-items: center;
          // justify-content: flex-end;
          .btnContaner {
            button {
              width: 100%;
            }
          }
        }
      }
      .sectionWRight,
      .sectionExploreWRight {
        min-height: 300px;
        // display: grid;
        // grid-template-columns: 658px 1fr;
        display: flex;
        flex-flow: column-reverse nowrap;
        .right {
          // padding-left: 110px;
          // display: flex;
          // flex-direction: column;
          // align-items: flex-start;
          // justify-content: center;
          // width: 522px;
          padding: 48px 16px 24px 16px;
          .desc {
            margin-top: 24px;
            font-weight: 400; // 600;
            font-size: 16px; // 18px;
            line-height: 24px;
          }
          .btnContaner {
            display: none;
          }
        }
        .left {
          // display: flex;
          // align-items: center;
          // justify-content: flex-start;
        }
      }
      .sectionExploreWRight {
        grid-template-columns: 820px 1fr;
      }
      .sectionCloudCost {
        height: 729px;
        .right {
          padding-top: 20px;
        }
      }
      .sectionChangeIntelligence {
        height: 729px;
        .right {
          padding-top: 20px;
        }
      }
      .subTitle {
        margin-top: 16px;
      }
      .bgTeal {
        background: var(--teal-50);
      }
      .bgYellow {
        background: var(--yellow-100);
      }

      .ciSectionWrapper {
        display: flex;
        flex-flow: column-reverse nowrap;
      }
      .preCI {
        // height: 300px;
        // position: relative;
        background: var(--teal-50);
        img {
          position: unset; // absolute;
          // left: 0px;
          // top: 24px;
          width: 100%;
          height: auto;
        }
        .btnContaner {
          // margin-top: 32px;
          padding: 36px 24px;
          :global {
            .ant-btn {
              // margin-right: 24px;
              height: 56px;
              width: 100%;
              border: 1px solid var(--primary-7);
              font-weight: 800;
              font-size: 18px;
              line-height: 24px;
              color: var(--primary-7);
            }
          }
        }
      }
      .cssFloatingImg {
        position: relative;
        img {
          position: absolute;
          left: 0px;
          top: 0px;
        }
      }
    }
  }
  .footer {
    background: var(--black);
    padding: 48px 0 32px 0;
    .siteMapNFollowUs {
      display: flex;
      flex-direction: column-reverse;
    }
    .siteMap {
      // display: grid;
      // grid-template-columns: 261px 261px 261px 261px 261px;
      text-align: center;
      ul {
        margin-left: 0;
        padding-left: 0;
        .title {
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
          /* identical to box height, or 133% */
          text-transform: capitalize;
          /* Gray Scale / Gray Scale 200 */
          color: var(--gray-200);
          margin-top: 24px;
        }
        li {
          list-style: none;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          /* identical to box height, or 171% */
          /* Gray Scale / Gray Scale 400 */
          color: var(--gray-400);
          margin: 12px 0;
        }
      }
    }
    .logoIcons {
      // display: grid;
      // grid-template-columns: 180px 1fr;
      // margin-top: 24px;
      .logo {
        .img {
          height: 40px;
          width: auto;
          overflow: hidden;
          background: url(/harness.svg) center center no-repeat;
          margin: 0 auto;
        }
      }
      .followUs {
        // display: flex;
        // flex-flow: row nowrap;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-content: space-between;
        width: 280px;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        /* identical to box height, or 154% */
        /* Gray Scale / Gray Scale 400 */
        padding: 0;
        margin: 24px auto;
        color: var(--gray-400);
        & > div {
          text-align: center;
          grid-column: 1 / 5;
          margin-bottom: 8px;
        }
        li {
          list-style: none;
          color: var(--white);
          margin-left: 18px;
          text-align: center;
          svg {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
    .termsNPolicies {
      border-top: 1px solid var(--gray-800);
      // display: grid;
      // grid-template-columns: 1fr 200px;
      margin-top: 24px;
      padding: 12px 0 0 0;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      /* identical to box height, or 133% */
      letter-spacing: 0.2px;
      text-transform: capitalize;
      /* Gray Scale / Gray Scale 600 */
      color: var(--gray-600);
      text-align: center;
      ul {
        padding: 0;
        margin: 0;
        // display: flex;
        // flex-flow: row nowrap;
        li {
          list-style: none;
          margin-right: 56px;
          margin: 12px 0;
        }
      }
      .copyRight {
        margin-top: 24px;
        text-align: center;
      }
    }
  }
}

/* ===== desktop: Screen Width >= 1440px ===== */
@media screen and (min-width: 1440px) {
  .header,
  .main,
  .footer {
    // width: 1440px;
    // overflow-x: hidden;
    margin: 0 auto;
  }
  .header {
    position: relative;
    display: block;
    background-color: var(--white);
    // overflow: auto;
    .headerNavWrapper {
      width: var(--full-width);
      margin: 0 auto;
      height: 104px;
      color: var(--black);
      display: grid;
      grid-template-columns: 275px 1fr;
      .logo {
        padding: 42px 0 0 110px;
        .img {
          width: 174px;
          height: 38px;
          overflow: hidden;
          background: url(/harness-light.svg);
          background-size: cover;
        }
      }
      .globalNav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 42px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        letter-spacing: 0.5px;
        text-transform: capitalize;
        color: var(--black);
        & > * {
          margin-right: 24px;
        }
        // a {
        //     color:var(--white)
        // }
      }
      .mobileMoreMenu {
        display: none;
      }
      .dropdown,
      .dropdownSelected,
      a {
        color: var(--black);
        cursor: pointer;
        span[role='img'] {
          margin-left: 8px;
          font-size: 10px;
          transition: 0.3s ease;
        }
        &:hover {
          color: var(--primary-5);
        }
      }
      .dropdownSelected {
        color: var(--primary-7);
        span[role='img'] {
          transform: rotate(180deg);
          color: var(--primary-7);
        }
      }
      .icon {
        font-size: 32px;
        color: var(--black);
        // width: 32px;
        // height: 32px;
      }
    }
    .navMenu,
    .navMenuLearn,
    .navMenuCompany {
      position: absolute;
      background: var(--white) url(/nav-menu-bg-light.svg) right bottom
        no-repeat;
      // background-size: 20%;
      border-top: 1px solid #f3f3fa;
      height: 340px;
      width: 100%;
      top: 104px;
      left: 0;
      z-index: 10; // 9;
      box-shadow: 0 3px 3px 0 rgb(0 0 0 / 20%);
      transition: 0.3s ease;
      .navMenuWrapper {
        width: var(--full-width);
        margin: 0 auto;
        padding: 32px 0 0 110px;
        display: grid;
        grid-template-columns: 365px 365px 1fr;
      }
      .overview,
      .modules,
      .modulesCol2,
      .learn {
        .title {
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          /* identical to box height, or 171% */
          letter-spacing: 1.5px;
          text-transform: uppercase;
          /* Gray Scale / Gray Scale 300 */
          color: var(--gray-500);
          margin-bottom: 8px;
        }
        .moduleTitle {
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          /* identical to box height, or 150% */
          letter-spacing: 0.5px;
          text-transform: capitalize;
          /* Gray Scale / Gray Scale 0 */
          color: var(--black);
        }
        .harnessPlatform {
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
          /* identical to box height, or 140% */
          text-transform: capitalize;
          /* Gray Scale / Gray Scale 0 */
          color: var(--black);
          margin-top: 16px;
        }
        .harnessIntro {
          // width: 261px;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          /* or 133% */
          letter-spacing: -0.01px;
          /* Gray Scale / Gray Scale 400 */
          color: var(--gray-500);
          margin-top: 8px;
        }
        ul {
          margin: 0;
          padding: 0;
          li {
            list-style: none;
            display: grid;
            grid-template-columns: 72px 1fr;
            margin-bottom: 24px;
          }
        }
        .twoCols {
          display: grid;
          grid-template-columns: 261px 261px;
        }
      }
      .overview {
        text-align: center;
      }
      .modules,
      .modulesCol2 {
      }
      .modulesCol2 {
        padding-top: 32px;
      }
      .learn {
        // width: 365px;
        .title {
          margin-bottom: 0;
        }
        ul {
          li {
            margin: 12px 0;
            display: block;
            a {
              font-weight: 500;
              font-size: 14px;
              line-height: 18px;
              /* identical to box height, or 171% */
              /* Gray Scale / Gray Scale 0 */
              color: var(--black);
              cursor: pointer;
              &:hover {
                color: var(--primary-7);
              }
            }
          }
        }
      }
    }
    .navMenu {
      height: 212px;
      background: var(--white) url(/motion-path-product-menu.svg) no-repeat
        center bottom;
      background-size: contain;

      .navMenuWrapper {
        padding: 36px 32px 48px 32px;
        grid-template-columns: 224px 1fr;
        grid-gap: 32px;
      }
      .overview,
      .modules,
      .modulesCol2,
      .learn {
        img {
          transition: 0.2s ease;
        }
        ul {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          li {
            text-align: center;
            margin-bottom: 24px;
            display: block;
            cursor: pointer;
            img {
              transition: 0.2s ease;
            }
            &:hover {
              img {
                transform: rotate(360deg);
              }
              .moduleTitle,
              .harnessIntro {
                color: var(--primary-7);
              }
            }
          }
        }
      }
      .overview:hover {
        cursor: pointer;
        img {
          transform: rotate(360deg);
        }
        .moduleTitle,
        .harnessIntro {
          color: var(--primary-7);
        }
      }
    }
    .navMenuLearn {
      .navMenuWrapper {
        grid-template-columns: 365px 365px 1fr;
      }
    }
    .navMenuCompany {
      height: 190px;
      .navMenuWrapper {
        display: block;
        padding-left: 106px;
        padding-top: 32px;
      }
      ul {
        margin: 0;
        padding: 0;
        grid-auto-flow: column;
        grid-auto-columns: 164px;
        display: grid;
        li {
          list-style: none;
          text-align: center;
          &:hover {
            .caption {
              color: var(--primary-7);
            }
            .icon {
              img {
                transform: translateY(-8px) scale(1.1);
              }
            }
          }
          .icon {
            // width: 85px;
            height: 85px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              transition: 0.3s ease-out;
            }
          }
          .caption {
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            /* identical to box height, or 171% */
            text-align: center;
            /* Gray Scale / Gray Scale 0 */
            color: var(--black);
            text-align: center;
          }
        }
      }
    }
    .mobileSubMenu,
    .mobileSubMenuOff {
      display: none;
    }
  }

  .main {
    background: var(--white);
    overflow-x: hidden;
    .harnessIntro {
      width: var(--full-width);
      margin: 0 auto;
      padding: 96px 0 62px 110px;
      // background: url(/harness-intro.svg) right bottom no-repeat;
      min-height: 480px;
      display: flex;
      flex-direction: row;
      position: relative;
      .introTextContainer {
        width: 500px;
        flex-shrink: 0;
        z-index: 9;
        .introText {
          font-size: 56px;
          line-height: 68px;
          font-weight: 700;
        }
        .introSubText {
          font-family: 'Reenie Beanie';
          color: var(--primary-6);
          font-size: 50px;
          line-height: 56px;
          font-weight: 500;
          margin-top: 24px;
          margin-bottom: 24px;
          width: 450px;
        }
        .btnSignUp {
          height: 56px;
          padding-left: 56px;
          padding-right: 56px;
          border-radius: 4px;
          border: 1px solid var(--primary-7);
          background-color: var(--primary-7);
          color: var(--white);
          box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
          font-weight: 800;
          font-size: 18px;
          line-height: 24px;
        }
        .gitStar {
          margin-top: 36px;
        }
      }
      .introIllustration {
        flex-grow: 1;
        flex-shrink: 1;
        position: absolute; // relative;
        z-index: 0;
        right: 0;
        // img {
        //   width: 911px;
        // }
        .linkCI,
        .linkCD,
        .linkFeatureFlags,
        .linkCloudCost,
        .linkChIntel {
          position: absolute;
          // left: 327px;
          // top: 188px;
          width: 120px;
          height: 160px;
          cursor: pointer;
          border-radius: 10px;
          &:hover {
            background-color: rgb(2 120 231 / 10%);
            box-shadow: 0 0 15px 15px rgb(2 120 231 / 10%);
          }
        }
        .linkCI {
          left: 112px;
          top: 212px;
        }
        .linkCD {
          left: 331px;
          top: 199px;
        }
        .linkFeatureFlags {
          left: 455px;
          top: 33px;
        }
        .linkCloudCost {
          left: 607px;
          top: 219px;
        }
        .linkChIntel {
          left: 717px;
          top: 39px;
        }
      }
      // &:hover {
      //   background-image: url(/harness-intro-hover.gif);
      // }
    }

    .btnLight {
      background: transparent;
      width: 300px;
      height: 56px;
      border-radius: 4px;
      border: 1px solid var(--white);
      color: var(--white);
      font-weight: 800;
      font-size: 18px;
      line-height: 24px;
    }
    .bgDot,
    .bgDotBlue {
      $bg-color: var(--header-bg);
      $dot-color: #5c5c5c;
      $dot-size: 1px;
      $dot-space: 10px;

      background: linear-gradient(
            90deg,
            $bg-color ($dot-space - $dot-size),
            transparent 1%
          )
          center,
        linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%)
          center,
        $dot-color;
      background-size: $dot-space $dot-space;
      box-shadow: inset 0px 6px 25px rgba(0, 0, 0, 0.04);
    }
    .bgDotBlue {
      $bg-color: var(--primary-9);
      $dot-color: #5c5c5c;
      $dot-size: 1px;
      $dot-space: 10px;

      background: linear-gradient(
            90deg,
            $bg-color ($dot-space - $dot-size),
            transparent 1%
          )
          center,
        linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%)
          center,
        $dot-color;
      background-size: $dot-space $dot-space;
      box-shadow: inset 0px 6px 25px rgba(0, 0, 0, 0.04);
    }
    .customers {
      padding: 48px 24px;
      .consumerList {
        width: var(--full-width);
        margin: 0 auto;
      }
      .btnContaner {
        text-align: center;
        margin-top: 32px;
        img {
          margin-right: 12px;
        }
      }
    }
    .caseStudy {
      height: 386px;
      padding-top: 80px;
      text-align: center;
      color: var(--white);
      position: relative;
      .customersSay {
        width: 870px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        /* Gray Scale / Gray Scale 0 */
        color: var(--white);
      }
      .customerName {
        width: 870px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
        margin-bottom: 52px;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        /* identical to box height, or 133% */
        /* Gray Scale / Gray Scale 200 */
        color: #d9dae6;
        text-align: center;
      }
      .quote {
        // font-size: 48px;
      }
      .profileLeft,
      .profileLeftBeforeLoaded {
        position: absolute;
        top: -175px; // -95px; + 80
        left: 167px;
        transition: 1s ease;
      }
      .profileLeftBeforeLoaded {
        // top: -200px;
        transform: translateY(-150px);
      }
      .profileRight,
      .profileRightBeforeLoaded {
        position: absolute;
        top: -160px; // -80px; + 80
        right: 168px;
        transition: 1s ease;
      }
      .profileRightBeforeLoaded {
        // top: -200px;
        transform: translateY(-150px);
      }
    }
    .beforeLoaded {
      transform: translateY(-150px);
    }
    .explore {
      height: 130px;
      min-height: 180px;
      text-align: center;
      padding-top: 110px;
    }
    .motionPathContainer {
      .motionPathContent {
        position: relative;
        width: var(--full-width);
        margin: 0 auto;
        img {
          position: absolute;
          top: 105px;
          right: 0;
        }
      }
      .sectionWrapper,
      .preCI {
        width: var(--full-width);
        margin: 0 auto;
        position: relative;
      }
      .sectionWLeft,
      .sectionWRight,
      .sectionExploreWRight {
        width: var(--full-width);
        margin: 0 auto;
        .btnContaner {
          margin-top: 32px;
          button {
            margin-right: 24px;
          }
        }
        img {
          z-index: 2;
          transition: 1s ease;
          position: absolute;
        }
      }
      .sectionWLeft {
        height: 480px;
        display: grid;
        grid-template-columns: 633px 1fr;
        .left {
          padding-left: 110px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          .desc {
            margin-top: 24px;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
          }
        }
        .right {
          padding-top: 32px;
          // display: flex;
          // align-items: center;
          // justify-content: flex-end;
          .btnContaner {
            display: none;
          }
        }
      }
      .sectionWRight,
      .sectionExploreWRight {
        height: 480px;
        display: grid;
        grid-template-columns: 658px 1fr;
        .right {
          // padding-left: 110px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          width: 522px;
          .desc {
            margin-top: 24px;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
          }
        }
        .left {
          padding-top: 32px;
          // display: flex;
          // align-items: center;
          // justify-content: flex-start;
          .btnContaner {
            display: none;
          }
        }
      }
      .sectionExploreWRight {
        grid-template-columns: 820px 1fr;
      }
      .sectionCloudCost {
        height: 729px;
        .right {
          padding-top: 120px;
        }
      }
      .sectionChangeIntelligence {
        height: 730px;
        .right {
          padding-top: 150px;
        }
      }
      .subTitle {
        margin-top: 16px;
      }
      .bgTeal {
        background: var(--teal-50);
      }
      .bgYellow {
        background: var(--yellow-100);
      }
      .preCI {
        height: 111px;
        position: relative;
        img {
          position: absolute;
          left: 0px;
          top: 24px;
        }
        .btnContaner {
          display: none;
        }
      }
      .cssFloatingImg {
        position: relative;
        img {
          position: absolute;
          left: 0px;
          top: 0px;
        }
      }
    }
  }
  .footer {
    background: var(--black);
    padding-top: 80px;
    padding-left: 67px;
    padding-right: 33px;
    // .mobileBottomFollowUs {
    //     display: none;
    // }
    .siteMap {
      // width: var(--full-width);
      margin: 0 auto;
      display: grid;
      grid-template-columns: 261px 261px 261px 261px 261px;
      ul {
        margin-left: 0;
        padding-left: 0;
        .title {
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
          /* identical to box height, or 133% */
          text-transform: capitalize;
          /* Gray Scale / Gray Scale 200 */
          color: var(--gray-200);
        }
        li {
          list-style: none;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          /* identical to box height, or 171% */
          /* Gray Scale / Gray Scale 400 */
          color: var(--gray-400);
          margin-top: 8px;
        }
      }
    }
    .logoIcons {
      // width: var(--full-width);
      margin: 24px auto 0 auto;
      display: grid;
      grid-template-columns: 180px 1fr;
      // margin-top: 24px;
      .logo {
      }
      .followUs {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        /* identical to box height, or 154% */
        /* Gray Scale / Gray Scale 400 */
        color: var(--gray-400);
        li {
          list-style: none;
          color: var(--white);
          margin-left: 18px;
          svg {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
    .termsNPolicies {
      width: var(--full-width);
      margin: 28px auto 0 auto;
      display: grid;
      grid-template-columns: 1fr 200px;
      // margin-top: 28px;
      padding: 24px 0 24px 0;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      /* identical to box height, or 133% */
      letter-spacing: 0.2px;
      text-transform: capitalize;
      /* Gray Scale / Gray Scale 600 */
      color: var(--gray-600);
      ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: row nowrap;
        li {
          list-style: none;
          margin-right: 56px;
        }
      }
      .copyRight {
        text-align: right;
      }
    }
  }
}
