/* ===== mobile: Screen Width < 1440px ===== */
@media screen and (max-width: 1439px) {
  .header,
  .main,
  .footer {
    width: var(--full-width);
    // overflow-x: hidden;
    margin: 0 auto;
  }

  .main {
    background: var(--white);
    .harnessIntro {
      padding: 80px 0 0 0;
      // background: url(/harness-intro-mobile.svg) bottom no-repeat;
      // min-height: 1100px;
      .introTextContainer {
        // width: 530px;
        padding: 0 24px;
        .introText {
          font-size: 48px;
          line-height: 56px;
          font-weight: 700;
        }
        .introSubText {
          font-family: 'Reenie Beanie';
          color: var(--primary-6);
          font-size: 32px;
          line-height: 48px;
          font-weight: 500;
          margin-top: 24px;
          margin-bottom: 24px;
          // width: 450px;
        }
        .introDesc {
          margin-bottom: 32px;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          /* Gray Scale / Gray Scale 800 */
          color: var(--gray-800);
        }
        .btnSignUp {
          height: 56px;
          width: 100%;
          padding-left: 56px;
          padding-right: 56px;
          border-radius: 4px;
          border: 1px solid var(--primary-7);
          background-color: var(--primary-7);
          color: var(--white);
          box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
          font-weight: 800;
          font-size: 18px;
          line-height: 24px;
        }
        .gitStar {
          margin: 24px 0 16px 56px;
          text-align: center;
        }
      }
      .introIllustration {
        // workaround to fix the dark borders of the gif on top and bottom
        overflow: hidden;
        // height: 598px;
        position: relative;
        text-align: center;
        padding-bottom: 24px;
        img,
        video {
          // workaround to fix the dark borders of the gif on top and bottom
          width: 95%;
          height: auto;
        }
        .linkCI,
        .linkCD,
        .linkFeatureFlags,
        .linkCloudCost,
        .linkChIntel {
          position: absolute;
          left: 48px;
          top: 36px;
          width: 135px;
          height: 105px;
          cursor: pointer;
          border-radius: 10px;
          &:hover,
          &:active {
            background-color: rgb(2 120 231 / 10%);
            box-shadow: 0 0 15px 15px rgb(2 120 231 / 10%);
          }
        }
        .linkCI {
          left: 48px;
          top: 36px;
        }
        .linkCD {
          left: 220px;
          top: 70px;
        }
        .linkFeatureFlags {
          left: 18px;
          top: 211px;
        }
        .linkCloudCost {
          left: 215px;
          top: 250px;
        }
        .linkChIntel {
          left: 40px;
          top: 420px;
        }
      }
      // &:hover {
      //   background-image: url(/harness-intro-mobile-hover.gif);
      // }
    }

    .bgDot,
    .bgDotBlue {
      $bg-color: var(--header-bg);
      $dot-color: #5c5c5c;
      $dot-size: 1px;
      $dot-space: 10px;

      background: linear-gradient(
            90deg,
            $bg-color ($dot-space - $dot-size),
            transparent 1%
          )
          center,
        linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%)
          center,
        $dot-color;
      background-size: $dot-space $dot-space;
      box-shadow: inset 0px 6px 25px rgba(0, 0, 0, 0.04);
    }
    .bgDotBlue {
      $bg-color: var(--primary-9);
      $dot-color: #5c5c5c;
      $dot-size: 1px;
      $dot-space: 10px;

      background: linear-gradient(
            90deg,
            $bg-color ($dot-space - $dot-size),
            transparent 1%
          )
          center,
        linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%)
          center,
        $dot-color;
      background-size: $dot-space $dot-space;
      box-shadow: inset 0px 6px 25px rgba(0, 0, 0, 0.04);
    }
    .caseStudy {
      min-height: 480px;
      padding: 64px 24px 24px 24px;
      text-align: center;
      color: var(--white);
      position: relative;
      .customersSay {
        // width: 870px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        /* Gray Scale / Gray Scale 0 */
        color: var(--white);
      }
      .customerName {
        // width: 870px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
        margin-bottom: 52px;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        /* identical to box height, or 133% */
        /* Gray Scale / Gray Scale 200 */
        color: #d9dae6;
        text-align: center;
      }
      .quote {
        // font-size: 48px;
        img {
          width: 36px;
          height: auto;
        }
      }
      .profileLeft,
      .profileLeftBeforeLoaded {
        position: absolute;
        top: -36px;
        left: 24px;
        transition: 1s ease;
        width: 138px;
        height: auto;
      }
      .profileLeftBeforeLoaded {
        // top: -200px;
        transform: translateY(150px);
      }
      .profileRight,
      .profileRightBeforeLoaded {
        position: absolute;
        top: -36px;
        right: 24px;
        transition: 1s ease;
        width: 138px;
        height: auto;
      }
      .profileRightBeforeLoaded {
        // top: -200px;
        transform: translateY(150px);
      }
    }
    .beforeLoaded {
      transform: translateY(150px);
    }
    .customersContainer {
      position: relative;
    }
  }
}

/* ===== desktop: Screen Width >= 1440px ===== */
@media screen and (min-width: 1440px) {
  .subMenuMask {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
  }
  .header,
  .main,
  .footer {
    // width: 1440px;
    // overflow-x: hidden;
    margin: 0 auto;
  }

  .main {
    background: var(--white);
    overflow-x: hidden;

    .harnessIntro {
      width: var(--full-width);
      margin: 0 auto;
      padding: 68px 150px 0 150px;
      box-sizing: border-box;
      // background: url(/harness-intro.svg) right bottom no-repeat;
      // min-height: 480px;
      position: relative;
      .introTextContainer {
        z-index: 7;
        text-align: center;
        .introText {
          font-size: 56px;
          line-height: 68px;
          font-weight: 700;
        }
        .introSubText {
          font-family: 'Reenie Beanie';
          color: var(--primary-6);
          font-size: 40px;
          line-height: 48px;
          font-weight: 500;
          margin-top: 32px;
          margin-bottom: 32px;
          text-align: center;
        }
        .introDesc {
          width: 700px;
          margin: 0 auto 32px auto;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          /* Gray Scale / Gray Scale 800 */
          color: var(--gray-800);
        }
        .btnSignUp {
          height: 56px;
          padding-left: 56px;
          padding-right: 56px;
          border-radius: 4px;
          border: 1px solid var(--primary-7);
          background-color: var(--primary-7);
          color: var(--white);
          box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
          font-weight: 800;
          font-size: 18px;
          line-height: 24px;
        }
        .gitStar {
          margin-top: 30px;
        }
      }
      .introIllustration {
        flex-grow: 1;
        flex-shrink: 1;
        text-align: center;
        // position: absolute; // relative;
        // z-index: 0;
        // right: 0;
        // img {
        //   width: 911px;
        // }
      }
    }

    .customerMarquee {
      margin-top: 80px;
      padding: 36px 50px;
      ul {
        padding: 0;
        margin: 0;
        li {
          padding: 0;
          margin: 0;
          list-style: none;
          width: 475px;
          text-align: center;
          color: var(--white);
          display: inline-block;
          margin-right: 80px;
          .quote {
            img {
              width: 24px;
              height: auto;
            }
          }
          .customerSay {
            margin-top: 8px;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            /* or 140% */

            text-align: center;
            text-transform: capitalize;
          }
          .customerName {
            margin-top: 8px;
            color: var(--gray-100);
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
          }
          .customerPic {
            margin: 8px auto 40px auto;
            img {
              height: 98px;
              width: auto;
            }
          }
        }
      }
    }

    .btnLight {
      background: transparent;
      width: 300px;
      height: 56px;
      border-radius: 4px;
      border: 1px solid var(--white);
      color: var(--white);
      font-weight: 800;
      font-size: 18px;
      line-height: 24px;
    }
    .bgDot,
    .bgDotBlue {
      $bg-color: var(--header-bg);
      $dot-color: #5c5c5c;
      $dot-size: 1px;
      $dot-space: 10px;

      background: linear-gradient(
            90deg,
            $bg-color ($dot-space - $dot-size),
            transparent 1%
          )
          center,
        linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%)
          center,
        $dot-color;
      background-size: $dot-space $dot-space;
      box-shadow: inset 0px 6px 25px rgba(0, 0, 0, 0.04);
    }
    .bgDotBlue {
      $bg-color: var(--primary-9);
      $dot-color: #5c5c5c;
      $dot-size: 1px;
      $dot-space: 10px;

      background: linear-gradient(
            90deg,
            $bg-color ($dot-space - $dot-size),
            transparent 1%
          )
          center,
        linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%)
          center,
        $dot-color;
      background-size: $dot-space $dot-space;
      box-shadow: inset 0px 6px 25px rgba(0, 0, 0, 0.04);
    }

    .beforeLoaded {
      transform: translateY(150px);
    }

    .moduleTabs {
      text-align: center;
      margin: 0 auto;
      .title {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        letter-spacing: 0.5px;
        text-transform: capitalize;
        margin: 0 auto 8px auto;
      }
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          margin: 0 12px;
          padding: 0;
          list-style: none;
          border-radius: 8px;
          width: 160px;
          height: 56px;
          box-sizing: border-box;
          border-style: solid;
          border-width: 1px;
          color: #1c1c28;
          cursor: pointer;
          display: grid;
          grid-template-columns: 48px 1fr;
          .icon {
            // grid-row: 1 / 3;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .names {
            display: flex;
            /* align-items: center; */
            flex-direction: column;
            justify-content: center;
            .subName {
              text-align: left;
              font-weight: 600;
              font-size: 8px;
              line-height: 10px;
              /* identical to box height */

              letter-spacing: 0.016px;
            }
            .name {
              text-align: left;
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
              /* identical to box height */

              letter-spacing: -0.01px;
            }
          }
          /* CD */
          &.cd,
          &.cdActive {
            border-color: var(--mod-cd-200);
            &:hover,
            &:active {
              background: var(--mod-cd-100);
            }
          }
          &.cdActive {
            background: var(--mod-cd-100);
          }
          /* CI */
          &.ci,
          &.ciActive {
            border-color: var(--mod-ci-200);
            &:hover,
            &:active {
              background: var(--mod-ci-100);
            }
          }
          &.ciActive {
            background: var(--mod-ci-100);
          }
          /* Cloud Cost */
          &.cc,
          &.ccActive {
            border-color: var(--mod-cc-200);
            &:hover,
            &:active {
              background: var(--mod-cc-100);
            }
          }
          &.ccActive {
            background: var(--mod-cc-100);
          }
          /* Feature Flags */
          &.ff,
          &.ffActive {
            border-color: var(--mod-ff-200);
            &:hover,
            &:active {
              background: var(--mod-ff-100);
            }
          }
          &.ffActive {
            background: var(--mod-ff-100);
          }
          /* Change Intelligence */
          &.chIntel,
          &.chIntelActive {
            border-color: var(--mod-ch-intel-200);
            &:hover,
            &:active {
              background: var(--mod-ch-intel-100);
            }
          }
          &.chIntelActive {
            background: var(--mod-ch-intel-100);
          }
        }
      }
    }

    .plans {
      margin: 80px auto 0 auto;
      padding: 0 110px;
      width: var(--full-width);
      display: flex;
      box-sizing: border-box;
      .card {
        width: 292px;
        text-align: center;
        // height: 804px;
        /* Gray Scale / Gray Scale 0 */
        background: var(--white);
        /* Gray Scale / Gray Scale 200 */
        border: 1px solid var(--gray-200);
        box-sizing: border-box;
        border-radius: 8px;
        // display: inline-block;
        margin: 8px;
        background: linear-gradient(
          360deg,
          var(--mod-cd-100) 0%,
          var(--white) 50%
        );
        padding: 40px 24px;
        button {
          width: 180px;
        }
      }
      .icon {
        text-align: center;
      }
      svg {
        color: var(--mod-cd-200);
      }
      .name {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        /* identical to box height, or 133% */
        text-align: center;
        text-transform: capitalize;
        /* Module Colors/Continuous Delivery/300 */
        color: var(--mod-cd-300); // #30841f;
        margin-top: 24px;
      }
      .desc {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        /* or 129% */
        margin-top: 24px;
        text-align: center;
        letter-spacing: 0.5px;
      }
      .priceWUnit {
        margin: 48px 0;
        .price {
          font-weight: 500;
          font-size: 32px;
          line-height: 39px;
          /* identical to box height */
          text-align: center;
          letter-spacing: 0.5px;
        }
        .unit {
          font-weight: 300;
          font-size: 12px;
          line-height: 15px;
          /* identical to box height */

          text-align: center;
        }
      }
      ul {
        width: 192px;
        margin-top: 32px;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        color: var(--mod-cd-300);
        li {
          text-align: left;
        }
      }

      &.ci {
        .card {
          background: linear-gradient(
            360deg,
            var(--mod-ci-100) 0%,
            var(--white) 50%
          );
          svg {
            color: var(--mod-ci-200);
          }
        }
        .icon {
          color: var(--mod-ci-200);
        }
        .name {
          color: var(--mod-ci-300);
        }
        ul {
          color: var(--mod-ci-300);
        }
      }

      &.cc {
        .card {
          background: linear-gradient(
            360deg,
            var(--mod-cc-100) 0%,
            var(--white) 50%
          );
          svg {
            color: var(--mod-cc-200);
          }
        }
        .icon {
          color: var(--mod-cc-200);
        }
        .name {
          color: var(--mod-cc-300);
        }
        ul {
          color: var(--mod-cc-300);
        }
      }

      &.ff {
        .card {
          background: linear-gradient(
            360deg,
            var(--mod-ff-100) 0%,
            var(--white) 50%
          );
          svg {
            color: var(--mod-ff-200);
          }
        }
        .icon {
          color: var(--mod-ff-200);
        }
        .name {
          color: var(--mod-ff-300);
        }
        ul {
          color: var(--mod-ff-300);
        }
      }

      &.chIntel {
        .card {
          background: linear-gradient(
            360deg,
            var(--mod-ch-intel-100) 0%,
            var(--white) 50%
          );
          svg {
            color: var(--mod-ch-intel-200);
          }
        }
        .icon {
          color: var(--mod-ch-intel-200);
        }
        .name {
          color: var(--mod-ch-intel-300);
        }
        ul {
          color: var(--mod-ch-intel-300);
        }
      }
    }

    .showAll,
    .collapse {
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      /* identical to box height, or 114% */
      text-align: center;
      letter-spacing: 0.2px;
      text-transform: capitalize;
      /* Primary/Primary 7 - Main */
      color: #0278d5;
      margin: 40px auto 0 auto;
      cursor: pointer;
      :global {
        .anticon {
          transition: 0.3s ease;
          margin-right: 4px;
        }
      }
    }
    .collapse {
      :global {
        .anticon {
          margin-right: 4px;
          transform: rotate(180deg);
        }
      }
    }

    .morePlans {
      margin: 32px auto 0 auto;
      width: 1216px;
      table {
        width: 100%;
        /* Gray Scale / Gray Scale 0 */
        background: #ffffff;
        /* Gray Scale / Gray Scale 200 */
        border: 1px solid var(--gray-200);
        box-sizing: border-box;
        border-radius: 8px;
        tbody > tr:nth-child(odd) {
          background-color: var(--mod-cd-100);
        }
        th,
        td {
          // background-color: var(--white);
          width: 20%;
          padding: 16px 24px;
          // box-shadow: 1px 1px 4px 0 rgba(96, 97, 112, 0.08);
          border-bottom: 1px solid var(--gray-200);
          text-align: center;
          font-weight: normal;
          font-size: 14px;
          line-height: 32px;
          &:first-child {
            text-align: left;
            padding-left: 32px;
            font-weight: 600;
            width: 20%;
          }
          h4 {
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            /* identical to box height, or 140% */
            // text-align: center;
            text-transform: capitalize;
            /* Gray Scale / Gray Scale 900 */
            // color: var(--gray-900);
            color: var(--mod-cd-300);
            margin-bottom: 16px;
          }
          .soon {
            margin-top: 48px;
            color: var(--primary-7);
          }
          button {
            display: block;
            margin: 16px auto;
            width: 180px;
          }
          svg[data-icon='check-circle'] {
            color: #ff3b3b;
            width: 18px;
            height: 18px;
          }
          svg[data-icon='close-circle'] {
            color: #06c270;
            width: 18px;
            height: 18px;
          }
        }
        th {
          vertical-align: top;

          &:first-child {
            vertical-align: middle;
          }
        }

        tbody > tr:last-child {
          td {
            border-bottom: none;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
          }
        }
      }

      &.ci {
        tbody > tr:nth-child(odd) {
          background-color: var(--mod-ci-100);
        }
        th,
        td {
          h4 {
            color: var(--mod-ci-300);
          }
        }
      }

      &.cc {
        tbody > tr:nth-child(odd) {
          background-color: var(--mod-cc-100);
        }
        th,
        td {
          h4 {
            color: var(--mod-cc-300);
          }
        }
      }

      &.ff {
        tbody > tr:nth-child(odd) {
          background-color: var(--mod-ff-100);
        }
        th,
        td {
          h4 {
            color: var(--mod-ff-300);
          }
        }
      }

      &.chIntel {
        tbody > tr:nth-child(odd) {
          background-color: var(--mod-ch-intel-100);
        }
        th,
        td {
          h4 {
            color: var(--mod-ch-intel-300);
          }
        }
      }
    }
  }
}
